html, body{
    font-family: Arial, sans-serif;
    margin= 0;
}
header{
    background-color: #9DC3C2;
    padding: 40px;
    text-align: center;
}
h1{ 
    font-size: 90xp;
    color:white;
}
header img{
    border-radius: 700px;
    width: 300px;
    border: 15px solid #a47e1b;
}
        /*<header>
<img src="img/profile.jpg">
            <h1>Luxana from League of Legends</h1>
