
header{
    background-color: burlywood;
    padding: 40px;
    text-align: center;
}
h1{ 
    font-size: 90xp;
    color:white;
}
header{
    border-radius: 150px;
    width:300xp;
    border: 10px solid #CC0000;
}
        /*<header>
<img src="img/profile.jpg">
            <h1>Luxana from League of Legends</h1>
